@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Satisfy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: gray;
}

.swiper-wrapper{
    padding-bottom: 30px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0px !important;
}